[submodule "themes/cactus"]
	path = themes/cactus
	url = http://gitee.com/kezhenxu94/hexo-theme-cactus
[submodule "source/downloads/code"]
	path = source/downloads/code
	url = git@github.com:kezhenxu94/blog-code
